.carousel {
  position: relative;
  width: 80%;
  margin: 30px auto;
  height: 40vw; 
  max-height: 500px; 
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1500px;
  overflow: hidden;
}
.parent-of-carousel {
  padding: 0;
  margin: 0;
  height: auto;
  overflow: hidden; 
}

@media (min-width: 1400px) {
  .carousel {
    width: 70%; 
    height: 30vw; 
    max-height: 500px;
  }
}

.carousel-video-container {
  position: absolute;
  width: 60%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0;
  z-index: 1;
}

.carousel-video-container.active {
  transform: translateZ(0) scale(1);
  opacity: 1;
  z-index: 3;
}

.carousel-video-container.previous {
  transform: translateX(-80%) translateZ(-500px) rotateY(60deg) scale(0.6); 
  opacity: 0.5;
  z-index: 2;
}

.carousel-video-container.next {
  transform: translateX(80%) translateZ(-500px) rotateY(-60deg) scale(0.6); 
  opacity: 0.5;
  z-index: 2;
}

.carousel-video {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  border: none;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1000;
}

.carousel-button.left {
  left: 10px;
}

.carousel-button.right {
  right: 10px;
}

.thumbnail-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnail {
  width: 100px;
  height: auto;
  cursor: pointer;
  border-radius: 4px;
  transition: transform 0.3s ease;
}
.carousel img {
  display: block;
  width: 100%; /* or whatever size is appropriate */
  height: auto;
}
.thumbnail:hover {
  transform: scale(1.05);
}

@media (max-width: 1024px) {
  .carousel {
    width: 90%;
    height: 50vw; 
    max-height: 500px;
  }

  .carousel-video-container {
    width: 70%;
  }

  .carousel-video-container.next {
    transform: translateX(50%) translateZ(-200px) rotateY(-45deg) scale(0.7);
  }

  .carousel-video-container.previous {
    transform: translateX(-50%) translateZ(-200px) rotateY(45deg) scale(0.7);
  }
}

@media (max-width: 768px) {
  .carousel {
    width: 90%;
    height: 40vw;
    max-height: 400px;
  }

  .carousel-video-container {
    width: 80%;
  }

  .carousel-video-container.previous, 
  .carousel-video-container.next {
    transform: translateX(-30%) translateZ(-150px) rotateY(30deg) scale(0.85); 
  }
}

@media (max-width: 480px) {
  .carousel {
    width: 95%;
    height: 55vw; 
    max-height: 300px;
  }

  .carousel-video-container {
    width: 100%;
  }

  .carousel-button {
    font-size: 1.2rem;
  }

  .carousel-video-container.previous, 
  .carousel-video-container.next {
    transform: translateX(-25%) translateZ(-100px) rotateY(15deg) scale(0.9); 
  }
}
