.footer {
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
    border-top: 4px solid #e4723c;
  }
  
  .footer p {
    color: #000000;
  }
  @media (max-width: 768px) {
    .footer {
      font-size: 14px;
    }
  }