.footer {
    background-color: #27262f;
    text-align: center;
    padding: 20px;
    border-top: 4px solid #b24525;
  }
  
  .footer p {
    color: #ffffff;
  }
  @media (max-width: 768px) {
    .footer {
      font-size: 14px;
    }
  }