.footer {
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
    border-top: 4px solid #cbb598;
  }
  
  .footer p {
    color: #000000;
  }
  @media (max-width: 768px) {
    .footer {
      font-size: 14px; /* Adjust font size for mobile */
    }
  }