.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #ffffff; 
  border-bottom: 4px solid #E4723C;
  padding: 10px 0; 
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: center; 
}

.logo img {
  height: 80px;
  background-color: #FFFFFF;
}


@media (max-width: 768px) {
  .logo img {
    width: 100%;
    height:60px;
  }

}
